<div class="w-full h-screen bg-gray-50">
    <div
        *ngIf="activeTab$ | async as activeTab"
        class="flex items-center rounded-2xl bg-white p-4 justify-center m-5"
    >
        <button
            [ngClass]="{
                'bg-black text-white': activeTab == tab.id,
                'text-gray-500 bg-white': activeTab != tab.id
            }"
            class="rounded-full py-2 px-5 border mr-3"
            [routerLink]="tab.link"
            (click)="activeTab$.next(tab.id)"
            *ngFor="let tab of TABS"
        >
            {{ tab.name }}
        </button>
    </div>

    <router-outlet></router-outlet>
</div>
